<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div style="text-align: center">
    <h1>HTTP Status Code 777</h1>
    <h2>Not Found / Errors</h2>
    <iframe width="890" height="600" src="{{ error_link }}&modestbranding=1&autohide=1&showinfo=0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>
</body>
</html>